@import "../containers/Theme.less";

.inputcontainer {
    margin-left: 10px;
    margin-top: 10px;
    display: flex;
}

.input {
    margin-left: 10px;
    flex-grow: 1;
    border: 0;
    color: #ddd;
    background-color: #222;
    display: inline;
    font-family: "Courier New", Courier, monospace;
    font-size: 1.4em;
    border-radius: 10px;
    padding-left: 10px;
}

.input:focus {
	border: 0;
    outline: 0;
}

.duration {
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #327B90;
    color: #e4e4e4;
}

.action {
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #CC184C;
    color: #e4e4e4;
}

.measure {
    border-radius: 5px;
    border: 1px solid #444;
    background-color: #444;
    color: #e4e4e4;
}