@import "../containers/Theme.less";

.container:last-child {
    border-bottom: 0;
}

.container {
    margin: 5px;
    border-bottom: 3px solid #2e2e2e;
}

.waiting {
    color: @clrComment;
}

.ok {
    color: @clrDefault;
}

.err {
    color: @clrError;
    text-decoration: line-through;
}

.waiting:hover {
    font-size: 1.2em;
    line-height: 0.8em;
    cursor: pointer;
}

.ok:hover {
    font-size: 1.2em;
    line-height: 0.8em;
    cursor: pointer;
}

.err:hover {
    font-size: 1.2em;
    line-height: 0.8em;
    cursor: pointer;
}

.response {
    text-align: right;
}
